// Colors
$very_dark_desat_blue: hsl(238, 29%, 16%);
$soft_red: hsl(14, 88%, 65%);
// Text
$very_dark_grayish_blue: #4a4b5e;
$dark_grayish_blue: #787887;
// Dividers
$light_grayish_blue: hsl(240, 5%, 91%);
// Font
$font: 'Kumbh Sans', sans-serif;

html {
  font-size: 12px;
}

h1,
h2,
p {
  margin: 0;
}

body {
  margin: 0;
  font-family: $font;
  background: rgb(175, 103, 233);
  background: linear-gradient(180deg, rgba(175, 103, 233, 1) 0%, rgba(101, 101, 231, 1) 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  margin: 0 24px;
  background-color: white;
  border-radius: 16px;
  padding: 24px;
  margin-top: 128px;
  margin-bottom: 64px;

  display: flex;
  flex-direction: column-reverse;
  gap: 16px;

  background-image: url('../images/bg-pattern-mobile.svg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 250px;

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;

    h1 {
      font-size: 29px;
      color: $very_dark_desat_blue;
      margin-top: 48px;
      margin-bottom: 16px;
      text-align: center;
    }

    .accordion {
      display: flex;
      flex-direction: column;
      overflow: hidden;

      label {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: $very_dark_grayish_blue;
        cursor: pointer;
        margin-bottom: 16px;

        font-size: 13px;
        font-weight: 400;

        img {
          width: 10px;
          height: 7px;
          transition: transform 0.5s linear;
        }
      }

      p {
        color: $dark_grayish_blue;
        max-height: 0;
        margin-bottom: 0;
        padding-right: 16px;
        transition: max-height 0.5s linear;
      }


      hr {
        margin: 0;
        border: none;
        border-top: 1px solid $light_grayish_blue;
      }

      input:checked {
        +label {
          font-weight: 700;

          img {
            transform: rotate(180deg);
          }
        }

        ~p {
          max-height: 80px;
          margin-bottom: 16px;
        }
      }
    }
  }

  picture:nth-child(2) {
    display: flex;
    justify-content: center;
    height: 50px;

    img {
      width: 237px;
      height: 180px;
      transform: translate(0, -130px);
    }
  }
}

@media (min-width: 768px) {
  main {
    max-width: 500px;
  }
}

@media (min-width: 1024px) {
  main {
    box-sizing: border-box;
    max-width: 920px;
    margin: 32px 0;
    padding: 64px 96px 64px 0;

    flex-direction: row-reverse;
    align-items: center;

    background-image: url('../images/bg-pattern-desktop.svg');
    background-size: 966px 945px;
    background-position: -558px -300px;
    gap: 96px;
    position: relative;

    section {
      h1 {
        margin: 0 0 16px 0;
        text-align: left;
      }

      .accordion {
        label {
          transition: color 0.1s linear;
        }

        label:hover {
          color: $soft_red;
        }

        ~picture>img {
          transition: transform 0.3s linear;
        }
      }

      .accordion:hover {
        ~picture>img {
          transform: translate(-120px, 50px);
        }
      }

      picture {
        position: absolute;
        left: 0;
        z-index: 2;
        width: 191px;
        height: 184px;

        img {
          transform: translate(-92px, 50px);
        }
      }
    }

    picture:nth-child(2) {
      display: flex;
      align-content: center;
      width: 110%;
      height: auto;
      overflow: hidden;

      img {
        transform: translate(-32px);
        width: 472px;
        height: 359px;
      }
    }

  }
}